<html>
  <head>
    {% load staticfiles %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["orgchart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');
        data.addColumn('string', 'Image');

        data.addRows([
          // [{v:'Greg', f:'Greg<div style="color:red; font-style:italic">CTO</div>'}, '', 'CTO'],
          // [{v:'Alberto', f:'Alberto<div style="color:orange; font-style:italic">Director</div>'}, 'Greg', 'Director'],
          // [{v:'JP F.', f:'JP F.<div style="color:orange; font-style:italic">Director</div>'}, 'Greg', 'Director'],
          // [{v:'Jon', f:'Jon<div style="color:green; font-style:italic">Manager</div>'}, 'Embedded Engineering', 'Manager'],
          // ['Embedded Engineering', 'Alberto', '', ''],
          // ['Electrical Engineering', 'Alberto', '', ''],
          // ['Optics', 'Alberto', '', ''],
          // ['R&D', 'Alberto', '', ''],
          ['Josh', 'R&D', 'Josh Wardell', '{% static "dashboard/josh.jpg" %}'],
          ['Ben H.', 'R&D', 'Ben Hebert','{% static "dashboard/benh.jpg" %}'],
          ['Dave', 'Optics', 'Dave Grassi','{% static "dashboard/dave.jpg" %}'],
          ['Dan', 'Optics', 'Dan Murby','{% static "dashboard/dan.jpg" %}'],
          ['Chow', 'Electrical Engineering', 'Chow Chan','{% static "dashboard/chow.jpg" %}'],
          ['Roman', 'Electrical Engineering', 'Roman Lilligren','{% static "dashboard/roman.jpg" %}' ],
          ['Hannah', 'Electrical Engineering','Hannah Echo', 'https://media.licdn.com/media/p/3/000/0df/216/3a55ca9.jpg'],
          ['Co-op', 'Electrical Engineering', 'Prashant Naidu','{% static "dashboard/prashant.jpg" %}'],
          // ['Vacant', 'Optics', ''],
          // ['Bogdan', 'JP F.', ''],
          // ['Mario', 'JP F.', ''],
          // ['Guillaume', 'JP F.', ''],
          // ['Nicolas', 'JP F.', ''],
          ['Michael', 'Jon', 'Michael Chiasson','{% static "dashboard/michael.jpg" %}'],
          ['Ryan', 'Jon', 'Ryan Mullen','{% static "dashboard/ryan.jpg" %}'],
          ['Ben F.', 'Jon', 'Ben Ferrara','{% static "dashboard/benf.jpg" %}'],
        ]);
        var formatter = new google.visualization.PatternFormat('<img src={0} />');
        formatter.format(data, [3], 0);

        var chart = new google.visualization.OrgChart(document.getElementById('chart_div_eng'));
        chart.draw(data, {allowHtml:true});
        // data.collapse(5, {allowCollapse:true}),

      } 
   </script>
   <script type="text/javascript">
      google.load("visualization", "1", {packages:["orgchart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');

        data.addRows([
          [{v:'Yvan', f:'Yvan<div style="color:red; font-style:italic">Chief Product Officer</div>'}, '', 'CPO'],
          [{v:'JP P.', f:'JP P.<div style="color:orange; font-style:italic">Director</div>'}, 'Yvan', 'Director'],
          [{v:'Sylvain', f:'Sylvain<div style="color:orange; font-style:italic">Director</div>'}, 'Yvan', 'Director'],
          ['Seb', 'JP P.', ''],
          ['Samuel', 'JP P.', 'R&D'],
          ['Harold', 'Sylvain', ''],

        ]);

        var chart = new google.visualization.OrgChart(document.getElementById('chart_div_des'));
        chart.draw(data, {allowHtml:true});
      }
   </script>
    </head>
  <body>
    <a href = "{% url 'teams:index' %}">Teams Home</a>
    <h1>Engineering</h1>
    <div id="chart_div_eng"></div>
    <h1>Design</h1>
    <div id="chart_div_des"></div>
  </body>
</html>
