<html>
<h1>New Project Entry:</h1>
<body>
<form action = "/projects/create" method = "post">{% csrf_token %}
	Project Name:<br><input type = "text" name ='name'><br>
	Market:<br>
	<select name = 'market'>
		<option value="Outdoor">Outdoor</option>
		<option value="Indoor">Indoor</option>
		<option value="Lumenarea">Lumenarea</option>
		<option value="Controls">Controls</option>
		<option value="Lumenalpha">Lumenalpha</option>
	</select><br>
	Developement Type:<br>
	<select name = 'dev_type'>
		<option value="NPI">NPI</option>
		<option value="PI">PI</option>
		<option value="Support">Support</option>
		<option value="SPL">SPL</option>
		<option value="Other">Other</option>
	</select><br>
	Status:<br>
	<select name = 'status'>
		<option value="Pre-Gate">R&D/Gate 0</option>
		<option value="Gate1">Gate 1</option>
		<option value="Gate2">Gate 2</option>
		<option value="Gate3">Gate 3</option>
		<option value="Gate4">Gate 4</option>
		<option value="closed">Launched</option>
		<option value="na">N/A</option>
	</select><br>
	Fiscal Year: (ex: 1999)<br><input type = "text" name ='year'><br>
	<input type="hidden" name='acquisition' value = "False">
	Acquisition Activity: <input type="checkbox" name='acquisition'><br>
	<input type="hidden" name='fast' value = "False">
	Fast-Track: <input  type="checkbox" name="fast"><br>
	Departments: (select multiple)<br>
	<select name = 'teams' multiple>
		{% if teams %}
			{% for team in teams %}
				<option value="{{team.id}}">{{team.name}}</option>
			{% endfor %}
		{% endif %}
	</select><br>
	Description:<br><textarea type = "text" name ='description'></textarea><br>

	<input type = "submit" value = "Assign Hours>>">
	</form>
</body>
</html> 

